:root {
  --card-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --sidebar-width: 18rem;
  --primary-color: #0896d8;
}

html,
body {
  margin: 0;
}

body {
  font-family: var(--font-family);
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr;
  background-color:#e0e1e3;
}

.header {
  display: grid;
  display: grid;
  grid-column: 2 / 3;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2rem;
  row-gap: 1.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  background-color: #d77a61;
}

.welcome {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.welcome > img {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1rem;
}

.hi {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
} 

.name {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 500;
}

.search {
  display: flex;
  align-items: center;
}

.search img {
  width: 2rem;
  margin-right: 0.5rem;
}

.search input {
  background-color: #e0e1e3;
  width: 30rem;
  height: 2rem;
  border: transparent;
  border-radius: 2rem;
  padding-left: 1rem;
}

.buttons button { 
  background-color: var(--primary-color);
  color: #ffe5d9;
  width: 6rem;
  height: 2.3rem;
  border: transparent;
  border-radius: 2rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.9rem;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.04);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.buttons button:active {
  transform: scale(1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

h4 {
  font-weight: 500;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffe5d9;
  border-left: 0.4rem solid #5b5b5b;
  border-right: 0.4rem solid #5b5b5b;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: var(--card-box-shadow);
}

.card .text {
  margin-top: 0;
  color: #6a8e7f;
  font-size: 0.9rem;
}

.card_actions {
  margin-top: auto;
  align-self: flex-end;
}