:root {
  --card-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --sidebar-width: 18rem;
  --primary-color: #0896d8;
}

html,
body {
  margin: 0;
}

body {
  font-family: var(--font-family);
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr;
  background-color:#e0e1e3;
}

.header {
  display: grid;
  display: grid;
  grid-column: 2 / 3;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2rem;
  row-gap: 1.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  background-color: #d77a61;
}

.welcome {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.welcome > img {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1rem;
}

.hi {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
} 

.name {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 500;
}

.search {
  display: flex;
  align-items: center;
}

.search img {
  width: 2rem;
  margin-right: 0.5rem;
}

.search input {
  background-color: #e0e1e3;
  width: 30rem;
  height: 2rem;
  border: transparent;
  border-radius: 2rem;
  padding-left: 1rem;
}

.buttons button { 
  background-color: var(--primary-color);
  color: #ffe5d9;
  width: 6rem;
  height: 2.3rem;
  border: transparent;
  border-radius: 2rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.9rem;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.04);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.buttons button:active {
  transform: scale(1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

h4 {
  font-weight: 500;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffe5d9;
  border-left: 0.4rem solid #5b5b5b;
  border-right: 0.4rem solid #5b5b5b;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: var(--card-box-shadow);
}

.card .text {
  margin-top: 0;
  color: #6a8e7f;
  font-size: 0.9rem;
}

.card_actions {
  margin-top: auto;
  align-self: flex-end;
}

.top_right,
.buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.top_right span {
  font-weight: 500;
}

.user_logo {
  width: 3rem;
  height: 3rem;
}

.sidebar {
  background-color: var(--primary-color);
  color: #ffe5d9;
  width: var(--sidebar-width);
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.25rem;
  box-sizing: border-box;

}

.sidebar_content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.sidebar_link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar_link a {
  text-decoration: none;
  color: #914146;
}

.sidebar-link a:hover {
  text-decoration: underline;
  transform: scale(1.03);
  display: inline-block;
}

.nav_top {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
}

.nav_bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
}

.head h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.sidebar_link img,
.dash_icon {
  filter: invert(100%);
}

.dash_icon {
  width: 3rem;
}

.footer {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.octocat {
  margin-left: 0.5rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 18rem;
  grid-gap: 1.5rem;
  padding: 1.5rem;
  grid-column: 2/3;
}

.projects {
  display: flex;
  flex-direction: column;
}

.cards_container {
  display: grid;
  flex-grow: 1;
  grid-area: 1/1/-1/2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.5rem;

}

h3 {
  font-weight: 500;
}

.news_list,
.user_list {
  background-color: #6a8e7f;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: var(--card-box-shadow);
}
.news_list_item {
  border-bottom: 1px solid #dbe2ec;
  padding: 1rem 0;
}

.news_list_item:first-child {
  padding-top: 0;
}

.news_list_item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.news_list_item .text {
  color: #2e1e0f;
  font-size: 0.8rem;
  margin: 0;
}
.newslist_item h4 {
  font-size: 0.9rem;
}

.trending {
  grid-column: -2/-1;
}

.user_list img {
  width: 3rem;
  height: 3rem;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
.user:last-child {
  margin-bottom: 0;
}

.username,
.description {
  font-size: 0.8rem;
}

.description {
  color: #2e1e0f;
}

/*# sourceMappingURL=out.css.map */




